/* ----------------------------------------------
	Extension icon: stand-alone and in heading
   ---------------------------------------------- */
span.extIconTimetracking {
	background:url('../img/exticon.png') no-repeat 0 0;
}

h1.extIconTimetracking .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}



/* ------------------------------
	Task context menu
   ------------------------------ */
#contextmenu .task-timetrackstart {
	background-image:url(../img/icons.png) !important;
	background-position:4px -28px;
}

#contextmenu .task-timetrackstop {
	background-image:url(../img/icons.png) !important;
	background-position:4px 2px;
}



/* --------------------
	Task injections
   -------------------- */
.task.running > h3 {
	background-color:#f2f2d2;
}
.task.running > h3 .headLabel span {
	font-weight:bold;
}

.task .overtimed {
	color:#ad5050 !important;
}

	.task .taskIcons .overtimed {
		background:url(../img/icons.png) no-repeat 0 -297px;
		width:14px !important;
	}

/* Time tracking tab in task */
.taskTabs div.timetracking {
	background:#fff;
}

div.timetrackform {
	font-weight:bold;
}

span.notracksyet {
	padding-left:5px;
}

div.tabBlock .timetrackingButtons .button {
	margin-right:5px;
	float:left;
}

div.tabBlock .timetrackingButtons .elapsedTime {
	margin:5px 0 0 5px;
	float:left;
}

button.startTracking .icon,
div.tabBlock .timetrackingButtons button.startTracking .icon {
	background:url(../img/icons.png) no-repeat 3px -28px;
	width:22px;
}

button.stopTracking .icon,
div.tabBlock .timetrackingButtons button.stopTracking .icon {
	background:url(../img/icons.png) no-repeat 3px 2px;
	width:22px;
}



/* --------------------
	Task
   -------------------- */
.task .taskHeadExtras .billingtime {
	width:30px;
	padding:0 3px;
}



/* -------------------------
	Task timetracking tab
   ------------------------- */
.task .taskTabs .tabs .timetracking .icon {
	background:url(../img/icons.png) no-repeat 0 -205px;
}
.task.running > .details .taskTabs .tabs  .timetracking .icon {
	background-position:0 5px;
}



/* ------------------
	Panel
   ------------------ */
#timetrackingPanel {
	position:absolute;
	right:2px;
	background-color:#F6F8F9;
	padding:2px 12px 4px 12px;
	border:1px solid #A7B6C1;
	border-width:0 2px 1px 2px;
}

#timetrackingPanel ul li {
	float:left;
	margin-left:10px;
	padding-left:10px;
}

#timetrackingPanel ul li.first {
	margin:0;
	padding:0;
}
