/* ----------------------------------------------
	Extension icon: stand-alone and in heading
   ---------------------------------------------- */
span.extIconTimetracking {
	background:url('../img/exticon.png') no-repeat 0 0;
}

h1.extIconTimetracking .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}



/* ------------------------------
	Task context menu
   ------------------------------ */
#contextmenu .task-timetrackstart {
	background-image:url(../img/icons.png) !important;
	background-position:4px -28px;
}

#contextmenu .task-timetrackstop {
	background-image:url(../img/icons.png) !important;
	background-position:4px 2px;
}



/* --------------------
	Task injections
   -------------------- */
div.task.running div.headLabel {
	font-weight:bold;
}

.task .overtimed {
	color:#ad5050 !important;
}

	.task .taskIcons .overtimed {
		background:url(../img/icons.png) no-repeat 0 -297px;
		width:14px !important;
	}

/* Time tracking tab in task */
.taskTabs div.timetracking {
	background:#fff;
}

div.timetrackform {
	font-weight:bold;
}

span.notracksyet {
	padding-left:5px;
	font-weight:bold;
}

div.tabBlock .timetrackingButtons .button {
	margin-right:5px;
	float:left;
}

div.tabBlock .timetrackingButtons .elapsedTime {
	margin:5px 0 0 5px;
	float:left;
}

button.startTracking .icon,
div.tabBlock .timetrackingButtons button.startTracking .icon {
	background:url(../img/icons.png) no-repeat 0 -29px;
}

button.stopTracking .icon,
div.tabBlock .timetrackingButtons button.stopTracking .icon {
	background:url(../img/icons.png) no-repeat 0 1px;
}



/* --------------------
	Task
   -------------------- */
.task .taskHeadExtras .billingtime {
	width:30px;
	padding:0 3px;
}


/* -------------------------
	Time track task tab
   ------------------------- */
div.task div.taskTabs ul li.timetracking span.icon {
	background:url(../img/icons.png) no-repeat 0 -205px;
}
div.task.running div.taskTabs ul li.timetracking span.icon {
	background:url(../img/icons.png) no-repeat 0 5px;
}

#taskList .activeTabContent .timetrackform {
	padding-bottom:10px;
}

#taskList .activeTabContent .timetrackform input {
	margin-right:20px;
}

#taskList .activeTabContent .timetrackform a.timing {
	display:block;
	position:absolute;
	top:10px;
	right:20px;
	height:16px;
	width:16px;
	background:url(../../../../core/asset/img/icons.png) no-repeat 0 -1095px;
}


/* -------------------------
	Time tracks
   ------------------------- */
.task .taskTabs .timetracks {
	padding-top:5px;
	background:#fff;
}

.task .taskTabs .timetracks ul {
	margin:0;
	padding:0;
	border-top:1px solid #ddd;
}

.task .taskTabs .timetracks ul li {
}

.task .taskTabs .timetracks ul li a.editableItem {
	background:url(../../../../core/asset/img/icons.png) no-repeat 3px -775px;
	line-height:20px;
}

.task .taskTabs .timetracks ul li button span {
	float:left; /* reset */
}


.task .taskTabs .timetracks .dateWithTime {
	width:130px;
}
.task .taskTabs .timetracks .userName {
	width:150px;
	padding:0 4px 0 4px;
}

.task .taskTabs .newForm .taskOptionBlock {
	padding-top:10px;
	padding-bottom:10px;
}



.tracksList .listItem dl dt {
	width:20px;
	clear:left;
	float:left;
	padding:2px 4px 2px;
}

.tracksList .listItem dl dd {
	width:560px;
	float:left;
	line-height:21px;
}


/* --------------------
	task tab content
   -------------------- */
.task .tabContent .formTimeTrack {
	background:white;
	padding:0;
}

.task .tabContent .formTimeTrack legend {
	display:none;
}
.task .tabContent .formTimeTrack fieldset {
	padding-top:10px;
	padding-left:5px;
	border:none;
}
.task .tabContent .formTimeTrack fieldset.buttons {
	margin-bottom:10px;
}

/* --------------------
	Time tracks form
   -------------------- */


/* ------------------
	Panel
   ------------------ */
#timetrackingPanel {
	position:absolute;
	right:2px;
	background-color:#F6F8F9;
	padding:2px 12px 4px 12px;
	border:1px solid #A7B6C1;
	border-width:0 2px 1px 2px;
}

#timetrackingPanel ul li {
	float:left;
	margin-left:10px;
	padding-left:10px;
}

#timetrackingPanel ul li.first {
	margin:0;
	padding:0;
}
