/* -------------------------
	Task time tracks
   ------------------------- */
.task .timetracks {
	padding-top:5px;
	background:#fff;
}

.task .timetracks ul {
	margin:0;
	padding:0;
	border-top:1px solid #ddd;
}

.task .timetracks ul li {
	padding:2px;
}

.task .timetracks ul li span {
	display:inline-block;
}

.task .timetracks ul li span.icon {
	margin-right:5px;
}

.task .timetracks ul li.edit:hover > span.icon {
	cursor:pointer;
	background:url(../../../../core/asset/img/icons.png) no-repeat 3px -776px;
}

.task .timetracks ul li span.date {
	width:45px;
	margin-right:8px;
}

.task .timetracks ul li span.trackedTime {
	width:65px;
	margin-right:8px;
}

.task .timetracks ul li span.trackedTime.chargeableTime {
	font-weight:bold;
	cursor:help;
	background:url(../img/icons.png) no-repeat 45px -330px;
}

.task .timetracks ul li span.name {
	width:150px;
	margin-right:8px;
}

.task .timetracks ul li span.comment {
	width:320px;
}


/* --------------------
	Track Form
   -------------------- */
.task .tabContent .formTimetrack {
	background:#fff;
	border:1px solid #ccc;
	padding:5px 5px 10px 5px;
}
.task .tabContent .formTimetrack legend {
	display:none;
}
.task .tabContent .formTimetrack .main {
	padding:10px 0;
}