/* -------------------------
	Task time tracks
   ------------------------- */
.task .timetracks {
	padding-top:5px;
	background:#fff;
}

.task .timetracks .tracksList {
	margin:0;
	padding:0;
	border-top:1px solid #ddd;
}

.task .timetracks .tracksList .track {
	padding:2px;
}

.task .timetracks .tracksList .track span.link {
	cursor: pointer;
}

.task .timetracks .tracksList .track span {
	display:inline-block;
}

.task .timetracks .tracksList .track span.icon {
	margin-right:5px;
}

.task .timetracks .tracksList .track.edit {
	background:url(../../../../core/asset/img/icons.png) no-repeat 3px -776px;
}

.task .timetracks .tracksList .track span.date {
	width:45px;
	margin-right:8px;
}

.task .timetracks .tracksList .track span.trackedTime {
	width:45px;
	margin-right: 4px;
}
.task .timetracks .tracksList .track span.trackedTime.hasChargeableTime {
	color: #999;
}
.task .timetracks .tracksList .track span.chargeableTime {
	width:45px;
	margin-right: 10px;
}

.task .timetracks .tracksList .track span.name {
	width:130px;
	margin-right:10px;
	margin-left:10px;
}

.task .timetracks .tracksList .track span.comment {
	width:280px;
}


/* --------------------
	Track Form
   -------------------- */
.task .tabContent .formTimetrack {
	background:#fff;
	border:1px solid #ccc;
	padding:5px 5px 10px 5px;
}
.task .tabContent .formTimetrack legend {
	display:none;
}
.task .tabContent .formTimetrack .main {
	padding:10px 0;
}