/* ------------------------------
	Task contextmenu
   ------------------------------ */

#contextmenu .task-timetrackstart {
	background-image:url(../img/icons.png) !important;
	background-position:4px -28px;
}

#contextmenu .task-timetrackstop {
	background-image:url(../img/icons.png) !important;
	background-position:4px 2px;
}

	/* Task injections */
.task.running span.headLabel .date,
.task.running span.headLabel .title,
.task.running span.headLabel .tasknumber {
	font-weight:bold;
}

.task .taskIcons .overtimed {
	background:url(../img/icons.png) no-repeat 0 -296px;
	width:14px !important;
}

/* Timetracking tab in task */
.taskTabs div.timetracking {
	background:#fff;
}

button.startTracking .icon,
div.tabBlock .timetrackingButtons button.startTracking .icon {
	background:url(../img/icons.png) no-repeat 0 -30px;
}

button.stopTracking .icon,
div.tabBlock .timetrackingButtons button.stopTracking .icon {
	background:url(../img/icons.png) no-repeat 0 0;
}



/* ---------------------
	Headlet
   --------------------- */

#headlet-timetracking {
	width:150px;
	height:29px;
	padding:2px;
	background-color:#F6F6F6;
	border:1px solid #DDD;
}

#headlet-timetracking .task {
	width:120px;
	overflow:hidden;
}

#headlet-timetracking .innertask {
	width:500px;
}

#headlet-timetracking .time {
	width:120px;
}

#headlet-timetracking .ctrl {
	float:right !important;
	width:20px;
	height:30px;
	cursor:pointer;
	background:url('../img/icons.png') no-repeat -2px -180px;
}

.timetrackform .elapsedTime {
	float:left;
	padding:0 0 0 5px;
	line-height:30px;
}

/* --------------------
    Task
   -------------------- */
.task .taskHeadExtras .billingtime {
	width:30px;
	padding:0 3px;
}
  

/* --------------------
    Time track task tab
   -------------------- */
div.task div.taskTabs ul li.timetracking span.icon {
	background:url(../img/icons.png) no-repeat 0 -205px;
}

#taskList .activeTabContent .timetrackform {
	padding-bottom:10px;
}

#taskList .activeTabContent .timetrackform input {
	margin-right:20px;
}

#taskList .activeTabContent .timetrackform a.timing {
	display:block;
	position:absolute;
	top:10px;
	right:20px;
	height:16px;
	width:16px;
	background:url(../../../../core/assets/img/sprite-icons.png) no-repeat 0 -1095px;
}

.task .taskTabs .timetracks {
	padding:0 0 5px 0;
	background:#fff;
}

.task .taskTabs .timetracks ul {
	margin:0;
	padding:0;
}

.task .taskTabs .timetracks ul li {
}

.task .taskTabs .timetracks ul li a.editableItem {
	background-position: -58px -358px;
	line-height:20px;
}

.task .taskTabs .timetracks ul li button span {
	float:left; /* reset */
}

.task .taskTabs .timetracks .notracksyet {
	padding-left:5px;
}


.task .taskTabs .timetracks .dateWithTime {
	width:130px;
}
.task .taskTabs .timetracks .userName {
	width:150px;
}

.task .taskTabs .timetracks span.timeTrackComment {
	padding-left:5px;
}

.task .taskTabs .newForm .taskOptionBlock {
	padding-top:10px;
	padding-bottom:10px;
}



/* --------------------
    Time Form
   -------------------- */

.task .taskTabs .timetracks ul form {
	background:#fff; /* not view hover effekt */
}



/* ------------------
	Panel
   ------------------ */

#timetrackingPanel {
	position:absolute;
	right:2px;
	background-color:#F6F8F9;
	padding:2px 12px 4px 12px;
	border:1px solid #A7B6C1;
	border-width:0 2px 1px 2px;
}

#timetrackingPanel ul li {
	float:left;
	margin-left:10px;
	padding-left:10px;
}

#timetrackingPanel ul li.first {
	margin:0;
	padding:0;
}

#timetrackingPanel ul li.tasktitle {
	display:block;
	width:210px;
	height:27px;
	overflow:hidden;
}