h1.extIconTimetracking .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}

/* ------------------------------
	Task contextmenu
   ------------------------------ */

#contextmenu .task-timetrackstart {
	background-image:url(../img/icons.png) !important;
	background-position:4px -28px;
}

#contextmenu .task-timetrackstop {
	background-image:url(../img/icons.png) !important;
	background-position:4px 2px;
}

	/* Task injections */
div.task.running div.headLabel {
	font-weight:bold;
}

.task .taskIcons .overtimed {
	background:url(../img/icons.png) no-repeat 0 -297px;
	width:14px !important;
}

/* Timetracking tab in task */
.taskTabs div.timetracking {
	background:#fff;
}

div.timetrackform,
span.notracksyet{
	padding:10px 0 10px 20px;
	font-weight:bold;
}

div.tabBlock .timetrackingButtons .button {
	margin-right: 10px;
	float: left;
}

div.tabBlock .timetrackingButtons .elapsedTime {
	margin-top: 5px;
	float: left;
}

button.startTracking .icon,
div.tabBlock .timetrackingButtons button.startTracking .icon {
	background:url(../img/icons.png) no-repeat 0 -29px;
}

button.stopTracking .icon,
div.tabBlock .timetrackingButtons button.stopTracking .icon {
	background:url(../img/icons.png) no-repeat 0 1px;
}



/* --------------------
    Task
   -------------------- */
.task .taskHeadExtras .billingtime {
	width:30px;
	padding:0 3px;
}


/* --------------------
    Time track task tab
   -------------------- */
div.task div.taskTabs ul li.timetracking span.icon {
	background:url(../img/icons.png) no-repeat 0 -205px;
}

#taskList .activeTabContent .timetrackform {
	padding-bottom:10px;
}

#taskList .activeTabContent .timetrackform input {
	margin-right:20px;
}

#taskList .activeTabContent .timetrackform a.timing {
	display:block;
	position:absolute;
	top:10px;
	right:20px;
	height:16px;
	width:16px;
	background:url(../../../../core/assets/img/icons.png) no-repeat 0 -1095px;
}

.task .taskTabs .timetracks {
	padding:0 5px 5px 5px;
	background:#fff;
}

.task .taskTabs .timetracks ul {
	margin:0;
	padding:0;
	border-top: 1px dotted #aaa;
}

.task .taskTabs .timetracks ul li {
}

.task .taskTabs .timetracks ul li a.editableItem {
	background:url(../../../../core/assets/img/icons.png) no-repeat;
	background-position:3px -775px;
	line-height:20px;
}

.task .taskTabs .timetracks ul li button span {
	float:left; /* reset */
}


.task .taskTabs .timetracks .dateWithTime {
	width:130px;
}
.task .taskTabs .timetracks .userName {
	width:150px;
}

.task .taskTabs .timetracks span.timeTrackComment {
	padding-left:5px;
}

.task .taskTabs .newForm .taskOptionBlock {
	padding-top:10px;
	padding-bottom:10px;
}



/* --------------------
    Time Form
   -------------------- */

.task .taskTabs .timetracks ul form {
	background:#fff; /* not view hover effekt */
	padding-top: 10px;
}



/* ------------------
	Panel
   ------------------ */

#timetrackingPanel {
	position:absolute;
	right:2px;
	background-color:#F6F8F9;
	padding:2px 12px 4px 12px;
	border:1px solid #A7B6C1;
	border-width:0 2px 1px 2px;
}

#timetrackingPanel ul li {
	float:left;
	margin-left:10px;
	padding-left:10px;
}

#timetrackingPanel ul li.first {
	margin:0;
	padding:0;
}
