div#headlettimetracking {
	left:0;
	right:0;
	z-index:1000;
	width:230px;
	margin:0 auto;
	padding:0 0 5px 0;
	background:#e1e1e1 url(../img/bg_headlettimetracking.png) no-repeat 0 100%;
	border:none;
}

div#headlettimetracking div.button {
	position:absolute;
	right:5px;
	bottom:2px;
}

#timetracking-stop-current-task span.rgt {
	background-color:#E7E7E7 !important;
}

div#headlettimetracking div.label {
	font-weight:bold;
	background-color:#efefef;
	margin:2px 2px 25px 2px;
	padding:2px 2px 2px 2px;
	cursor:pointer;
	width:auto;
}

div#headlettimetracking div.time {
	position:absolute;
	left:5px;
	bottom:7px;
}

