#headlet-timetracking-button {
	background:url(../img/icons.png) no-repeat 5px -205px;
}
#headlet-timetracking-button.active {
	background-position:3px 5px;
}

#headlets #headlet-timetracking-content {
	margin-left:-175px;
	padding: 5px;
}

#headlets #headlet-timetracking-content li {
}

#headlets #headlet-timetracking-content li a {
	display:inline;
	white-space:normal;
}

/**
 * Active headlet content
 */
#headlets #headlet-timetracking-content li.tracking {
	width:326px;
}

#headlets #headlet-timetracking-content div.trackingContainer {
	padding: 5px 5px 10px 5px;
	background: white;
}

#headlets #headlet-timetracking-content div.task {
	border-bottom:1px dotted #B9BBAD;
	padding-bottom:5px;
}

#headlets #headlet-timetracking-content .stop {
	float: right;
	position: relative;
	top: -5px;
}

#headlet-timetracking-content div.time {
	margin-top:5px;
	float:left;
}

#headlets #headlet-timetracking-content a {
	display:inline;
	padding:0;
}

#headlets li #headlet-timetracking-content a,
#headlets li:hover #headlet-timetracking-content a {
	background: none !important;
}

#headlet-timetracking-content a.title {
	font-size:11px;
	font-weight:bold;
}
#headlet-timetracking-content  a:hover {
	color:#6f6f6f;
}


#headlet-timetracking-content span.currentTracking {
	font-weight:bold;
}

#headlet-timetracking-content span.tracked {

}

#headlet-timetracking-content div.percent div.number {
	float:left;
	margin-right:5px;
}

#headlet-timetracking-content div.percent div.bar {
	width:100px;
	height:12px;
	display:inline-block;
	border:1px solid #ccc;
	background-color: #E3EACE;
}

#headlet-timetracking-content div.percent div.bar div.progress {
	background-color:#0f0;
	display:inline-block;
	height:100%;
}

#headlet-timetracking-content div.percent {
	float:left;
}

#headlet-timetracking-content div.estimatedWorkload {
	float:left;
	margin-left: 5px;
}

#headlet-timetracking-content .button {
	float:right;
}

#headlet-timetracking-content .button .label {
	display: none;
}

#headlets #headlet-timetracking-content h1 {
	margin: 0;
}

#headlets #headlet-timetracking-content li.tracking,
#headlets #headlet-timetracking-content li.inactiveTaskList {
	
}

#headlets #headlet-timetracking-content li.tracking .task {
	padding: 5px 0;
	border-bottom: 1px dotted #b9bbad;
}

/**
 * Inactive headlet content
 */

#headlets #headlet-timetracking-content .inactiveTaskList ul {
	position:relative;
	border:none;
	top:0;
	left:0;
	width:326px;
	background: white;
}

#headlets #headlet-timetracking-content .inactiveTaskList li {
	border-bottom:1px dotted #b9bbad;
}

#headlets #headlet-timetracking-content .inactiveTaskList li span.headLabel {
	border-left-style: solid;
	border-left-width: 8px;
	display: block;
	padding: 1px 0 1px 0;
}

#headlets #headlet-timetracking-content .inactiveTaskList span.headLabel .first {
	padding-left: 17px;
}

#headlets #headlet-timetracking-content .inactiveTaskList a.title {
	display: inline-block;
	font-weight: normal;
	height: auto;
	line-height: 0;
}

#headlets #headlet-timetracking-content .inactiveTaskList a.title .taskNumber,
#headlets #headlet-timetracking-content .inactiveTaskList a.title .projectName,
#headlets #headlet-timetracking-content .inactiveTaskList a.title .tracking {
	margin-right: 5px;
}

#headlets #headlet-timetracking-content .inactiveTaskList a.title span {
	line-height: 22px;
	white-space: nowrap;
	margin-right: 5px;
}

#headlets #headlet-timetracking-content .inactiveTaskList .taskNumber {
	display: inline-block;
	float: none;
	width: 50px;
}

#headlets #headlet-timetracking-content .inactiveTaskList .projectName {
	display: inline-block;
	float: none;
	width: 135px;
}
#headlets #headlet-timetracking-content .inactiveTaskList .tracking {
	display: inline-block;
	float: none;
	width: 50px;
}

#headlets #headlet-timetracking-content .inactiveTaskList .start {
	width:35px;
	border-left:1px dotted #b9bbad;
	float: right;
	margin-right: 5px;
}