#headlet-timetracking-button {
	background:url(../img/icons.png) no-repeat 1px -235px;
}
#headlet-timetracking-button.tracking {
	background-position:1px -55px;
}

#headlets #headlet-timetracking-content {
	margin-left:-451px;
	padding:5px;

}

#headlets #headlet-timetracking-content li {
}

#headlets #headlet-timetracking-content li a {
	display:inline;
	white-space:nowrap;
}

/**
 * Active headlet content
 */
#headlets #headlet-timetracking-content li.tracking {
	width:521px;
}

#headlets #headlet-timetracking-content span.trackingContainer {
	display:block;
}

#headlets #headlet-timetracking-content span.currentTask {
	display:block;
	width:37%;
	float:left;
	border-right:1px dotted #B9BBAD;
}

#headlets #headlet-timetracking-content span.container {
	overflow:hidden;
	display:block;
}
#headlets #headlet-timetracking-content  span.currentTask span.container {
	margin:0 5px 0 0;
}
#headlet-timetracking-content span.time {
	width:50%;
	display:inline-block;
}
#headlets #headlet-timetracking-content  span.time span.container {
	margin:0 0 0 5px;
}

#headlets #headlet-timetracking-content span.stop {
	position:absolute;
	top:0;
	right:0;
}

#headlets #headlet-timetracking-content a {
	display:inline;
	padding:0;
}

#headlets li #headlet-timetracking-content a,
#headlets li:hover #headlet-timetracking-content a {
	background:none !important;
}

#headlet-timetracking-content a.title {
	font-size:11px;
	font-weight:bold;
}
#headlet-timetracking-content  a:hover {
	color:#6f6f6f;
}

#headlet-timetracking-content span.currentTracking {
	font-weight:bold;
}

#headlet-timetracking-content span.tracked {

}

#headlet-timetracking-content span.percent span.number {
	float:left;
	margin-right:5px;
}

#headlet-timetracking-content span.percent span.bar {
	width:100px;
	height:12px;
	display:block;
	float:left;
	border:1px solid #ccc;
	background-color:#e3eace;
}

#headlet-timetracking-content span.percent span.bar span.progress {
	background-color:#d0ddcf;
	display:inline-block;
	height:100%;
}

#headlet-timetracking-content span.percent {
	display:block;
	height:14px;
	position:absolute;
	overflow:hidden;
}

#headlet-timetracking-content span.estimatedWorkload {
	float:left;
	display:block;
	margin-left:5px;
}

#headlet-timetracking-content .button {
	float:right;
}

#headlet-timetracking-content .button .label {
	display:none;
}

#headlet-timetracking-content h1 {
	margin:0;
}

#headlet-timetracking-content li.tracking,
#headlet-timetracking-content li.inactiveTaskList {

}

#headlet-timetracking-content li.tracking a.project {
	text-transform:uppercase;
	display:block;
}

/**
 * Inactive headlet content
 */

#headlets #headlet-timetracking-content .inactiveTaskList ul {
	position:relative;
	border:none;
	top:0;
	left:0;
	width:521px;
	border-top:1px dotted #b9bbad;
}

#headlets #headlet-timetracking-content .inactiveTaskList li {
	border-bottom:1px dotted #b9bbad;
}

#headlets #headlet-timetracking-content .inactiveTaskList li span.headLabel {
	border-left-style:solid;
	border-left-width:8px;
	display:block;
	padding:1px 0 1px 0;
}

#headlets #headlet-timetracking-content .inactiveTaskList span.headLabel .first {
	padding-left:17px;
}

#headlets #headlet-timetracking-content .inactiveTaskList a.title {
	display:block;
	width:90%;
	font-weight:normal;
	height:auto;
	line-height:0;
}

#headlets #headlet-timetracking-content .inactiveTaskList a.title .taskNumber,
#headlets #headlet-timetracking-content .inactiveTaskList a.title .projectName {
	margin-right:5px;
}

#headlets #headlet-timetracking-content .inactiveTaskList a.title span {
	line-height:22px;
	white-space:nowrap;
}

#headlets #headlet-timetracking-content .inactiveTaskList .taskNumber {
	display:inline-block;
	float:none;
	width:10%;
}

#headlets #headlet-timetracking-content .inactiveTaskList .projectName {
	display:inline-block;
	float:none;
	width:70%;
}
#headlets #headlet-timetracking-content .inactiveTaskList .tracking {
	display:inline-block;
	float:none;
	text-align:right;
}

#headlets #headlet-timetracking-content .inactiveTaskList .start {
	width:35px;
	position:absolute;
	top:1px;
	right:0;
}