#headlet-timetracking-button {
	background:url(../img/icons.png) no-repeat 3px -205px;
}
#headlet-timetracking-button.active {
	background-position:3px 5px;
}

#headlets #headlet-timetracking-content {
	margin-left:-190px;
}

#headlets #headlet-timetracking-content li {
	padding:5px;
}
#headlets #headlet-timetracking-content li a {
	display:inline;
	white-space:normal;
}

/**
 * Active headlet content
 */
#headlets #headlet-timetracking-content li.tracking {
	width:341px;
}

#headlets #headlet-timetracking-content div.stop {
	margin:8px 0 0 0;
}

#headlet-timetracking-content div.time {
	margin:5px 0;
	float:left;
	width:80%;
}

#headlets #headlet-timetracking-content a {
	display:inline;
	padding:0;
}

#headlets li:hover #headlet-timetracking-content a {
	background:transparent;
}

#headlet-timetracking-content a.title {
	font-size:11px;
	font-weight:bold;
}
#headlet-timetracking-content  a:hover {
	color:#6f6f6f;
}


#headlet-timetracking-content span.currentTracking {
	font-weight:bold;
}

#headlet-timetracking-content span.tracked {

}

#headlet-timetracking-content div.percent div {
	height:12px;
}

#headlet-timetracking-content div.percent div.number {
		display:inline-block;
}

#headlet-timetracking-content div.percent div.bar {
	width:100px;
	display:inline-block;
	border:1px solid #ccc;
}

#headlet-timetracking-content div.percent div.bar div.progress {
	background-color:#0f0;
	display:inline-block;
	height:100%;
}

#headlet-timetracking-content div.percent {
	float:left;
}

#headlet-timetracking-content div.estimatedWorkload {
	float:left;
	margin-left:5px;
}

#headlet-timetracking-content .button {
	float:right;
}



/**
 * Inactive headlet content
 */

#headlets #headlet-timetracking-content ul {
	position:relative;
	border:none;
	top:0;
	left:0;
	width:341px;
}


#headlets #headlet-timetracking-content .inactiveTaskList li {
	border-bottom:1px dotted #b9bbad;
}


#headlets #headlet-timetracking-content .inactiveTaskList a.title {
	width:190px;
	font-weight:bold;
	line-height:22px;
}

#headlets #headlet-timetracking-content .inactiveTaskList .start {
	width:40px;
}