#headlet-timetracking {
	
}

#headlet-timetracking div.button div.icon {
	background:url(../img/icons.png) no-repeat 1px -209px;
}

#headlet-timetracking div.button.active div.icon {
	background-position:1px -29px;
}

#headlet-timetracking-content {
	width:250px;
	margin-left:-100px;
	padding:5px;
}



/**
 * Content
 */
#headlet-timetracking-content div.title,
#headlet-timetracking-content div.companyProject,
#headlet-timetracking-content div.time,
#headlet-timetracking-content div.percent {
	border-bottom:1px dotted #CCC;
	margin-bottom:3px;
}

#headlet-timetracking-content div.title a {
	font-size:14px;
	font-weight:bold;
}

#headlet-timetracking-content div.companyProject a {
	color:#AAA;
}

#headlet-timetracking-content span.tracking,
#headlet-timetracking-content span.tracking span {
	font-size:16px;
	font-weight:bold;
}

#headlet-timetracking-content span.tracked {
	margin-right:5px;
}
#headlet-timetracking-content span.estimated {
	margin-left:5px;
}

#headlet-timetracking-content div.percent div {
	height:12px;
}

#headlet-timetracking-content div.percent div.number {
	width:30px;
	display:inline-block;
}

#headlet-timetracking-content div.percent div.bar {
	width:200px;
	display:inline-block;
	border:1px solid #CCC;
}

#headlet-timetracking-content div.percent div.bar div.progress {
	background-color:#0F0;
	display:inline-block;
	height:100%;
}









#headlet-timetracking .info {
	width:150px;
	height:100px;
	background-color:#EEE;
	border:1px solid #CCC;
	margin-top:5px;
	margin-left:-80px;
	padding:5px;
	display:none;
}

#headlet-timetracking .hover:hover .info {
	display:block;
}











/*

div#headlettimetracking {
	left:0;
	right:0;
	z-index:1000;
	width:230px;
	margin:0 auto;
	padding:0 0 5px 0;
	background:#e1e1e1 url(../img/bg-headlettimetracking.png) no-repeat 0 100%;
	border:none;
}

div#headlettimetracking div.button {
	position:absolute;
	right:5px;
	bottom:2px;
}

#timetracking-stop-current-task span.rgt {
	background-color:#e7e7e7 !important;
}

div#headlettimetracking div.label {
	font-weight:bold;
	background-color:#efefef;
	margin:2px 2px 25px 2px;
	padding:2px 2px 2px 2px;
	cursor:pointer;
	width:auto;
}

div#headlettimetracking div.time {
	position:absolute;
	left:5px;
	bottom:7px;
}















#headlet-timetracking {
	width:150px;
	height:29px;
	padding:2px;
	background-color:#F6F6F6;
	border:1px solid #DDD;
}

#headlet-timetracking .task {
	width:120px;
	overflow:hidden;
}

#headlet-timetracking .innertask {
	width:500px;
}

#headlet-timetracking .time {
	width:120px;
}

#headlet-timetracking .ctrl {
	float:right !important;
	width:20px;
	height:30px;
	cursor:pointer;
	background:url('../img/icons.png') no-repeat -2px -180px;
}

.timetrackform .elapsedTime {
	float:left;
	padding:0 0 0 5px;
	line-height:30px;
}










*/
