#headlet-timetracking-button {
	background:url(../img/icons.png) no-repeat 5px -205px;
}
#headlet-timetracking-button.active {
	background-position:3px 5px;
}

#headlets #headlet-timetracking-content {
	margin-left:-180px;
	padding: 10px;
}

#headlets #headlet-timetracking-content li {
	padding: 2px 0;
}
#headlets #headlet-timetracking-content li a {
	display:inline;
	white-space:normal;
}

/**
 * Active headlet content
 */
#headlets #headlet-timetracking-content li.tracking {
	width:321px;
}

#headlets #headlet-timetracking-content div.task {
	border-bottom:1px dotted #B9BBAD;
	padding-bottom:5px;
}

#headlets #headlet-timetracking-content div.stop {
	margin:8px 0 0 0;
}

#headlet-timetracking-content div.time {
	margin-top:5px;
	float:left;
	width: 88%;
}

#headlets #headlet-timetracking-content a {
	display:inline;
	padding:0;
}

#headlets li:hover #headlet-timetracking-content a {
	background:transparent;
}

#headlet-timetracking-content a.title {
	font-size:11px;
	font-weight:bold;
}
#headlet-timetracking-content  a:hover {
	color:#6f6f6f;
}


#headlet-timetracking-content span.currentTracking {
	font-weight:bold;
}

#headlet-timetracking-content span.tracked {

}

#headlet-timetracking-content div.percent div.number {
	float:left;
	margin-right:5px;
}

#headlet-timetracking-content div.percent div.bar {
	width:100px;
	height:12px;
	display:inline-block;
	border:1px solid #ccc;
	background-color: #E3EACE;
}

#headlet-timetracking-content div.percent div.bar div.progress {
	background-color:#0f0;
	display:inline-block;
	height:100%;
}

#headlet-timetracking-content div.percent {
	float:left;
}

#headlet-timetracking-content div.estimatedWorkload {
	float:left;
	margin-left:5px;
}

#headlet-timetracking-content .button {
	float:right;
}

#headlet-timetracking-content .button span.label {
	display: none;
}


/**
 * Inactive headlet content
 */

#headlets #headlet-timetracking-content ul {
	position:relative;
	border:none;
	top:0;
	left:0;
	width:321px;
	border-top:1px dotted #b9bbad;
}


#headlets #headlet-timetracking-content .inactiveTaskList li {
	border-bottom:1px dotted #b9bbad;
}


#headlets #headlet-timetracking-content .inactiveTaskList a.title {
	width:190px;
	font-weight: normal;
	line-height: 22px;
}

#headlets #headlet-timetracking-content .inactiveTaskList .start {
	width:40px;
}