<li class="tracking">
	<div class="trackingContainer">
		<div class="project">
			<a href="javascript:void(0)" onclick="Todoyu.Ext.project.goToTaskInProject(0,{$task.project.id})" title="{Label LLL:timetracking.jumpToProject}" class="project">{truncate($task.company.title, 25)}:{truncate($task.project.title, 25)}</a>
			<span class="stop">
				{Button  onclick="Todoyu.Ext.timetracking.Task.stop($task.id)" class="stopTracking" title="LLL:timetracking.stop"}
			</span>
		</div>
		<div class="task">
			<a href="javascript:void(0)" onclick="Todoyu.Ext.project.goToTaskInProject({$task.id})" title="{Label LLL:timetracking.jumpToTask}" class="title">{$task.id_project}.{$task.tasknumber}: {truncate($task.title, 25, '...', true)}</a>
		</div>
		<div class="time">
		<span class="tracking" title="{Label LLL:timetracking.tasktab.time_elapsed}">
			{Label LLL:timetracking.tasktab.time_elapsed} {HourMinSec $tracked}
			+<span id="{$id}-tracking" class="currentTracking">{HourMinSec $tracking}</span>
		</span>
		<div>
		{if $showPercent}
		<div class="percent">
			<div class="number" id="{$id}-percent">
				{$percent}%
			</div>
			<div class="bar">
				{$max = 100}
				{$length = $percent/100*$max}
				{if $length>$max}
					{$length = $max}
				{/if}
				<div class="progress {$barClass}" id="{$id}-progress" style="width:{$length}px"></div>
			</div>
		
		</div>
		{/if}
		<div class="estimatedWorkload">({Label LLL:timetracking.estimated_workload}: {HourMin $task.estimated_workload})</div>
		</div>
		</div>
		<div class="clear"><!-- --></div>
	</div>
</li>