<li  class="inactiveTaskList">
<ul>
	{foreach $tasks task}
		<li><a href="javascript:void(0)" onclick="Todoyu.Ext.project.goToTaskInProject({$task.id})" title="{Label LLL:timetracking.jumpToTask}" class="title">
			{$task.id_project}.{$task.tasknumber}
			{truncate(htmlencode($task.title), 30, break = true)}
			</a>
		
			{if $task.isTrackable}
				<span class="start startTracking">{Button  onclick="Todoyu.Ext.timetracking.Headlet.Timetracking.startTask($task.id)" title="LLL:timetracking.start"}</span>
			{/if}
		</li>
	{/foreach}
</ul>
</li>