<li class="inactiveTaskList">
<ul>
	{foreach $tasks task}
		<li>
			<span class="headLabel bcStatus{$task.status}" title="{$task.fulltitle}">
			<a href="javascript:void(0)" onclick="Todoyu.Ext.project.goToTaskInProject({$task.id})" title="{Label timetracking.ext.jumpToTask}" class="title">
				<span class="first taskNumber" title="{Label portal.ext.tasktree.header.tasknumber}: {$task.id_project}.{$task.tasknumber}">
					{$task.id_project}.{$task.tasknumber}
				</span>
				<span class="projectName" title="{Label project.ext.project}: {htmlencode $task.project.title} (ID: {$task.id_project}) / {Label project.task.task}: {htmlencode $task.title}">
					{htmlencode $task.projecttitle|truncate:45} - {htmlencode $task.title|truncate:45}
				</span>
				<span class="tracking" title="{Label timetracking.tasktab.time_elapsed}">
					{HourMinSec $task.trackedtime}
				</span>
			</a>

			{if $task.isTrackable}
				<span class="start startTracking">{Button  onclick="Todoyu.Headlets.getHeadlet('todoyutimetrackingheadlettracking').startTask($task.id)" class="startTracking" label="LLL:timetracking.ext.start" disable=true}</span>
			{/if}
			</span>
		</li>
	{/foreach}
</ul>
</li>