{extends "core/view/headlet.tmpl"}

{block "headlet"}

	<div class="button">
		<button class="button" onclick="Todoyu.Ext.timetracking.Headlet.Timetracking.stopTask({$idTask})">
			<span class="hasIcon editFiltersButton">{Label core.stop}</span>
			<span class="rgt"><!-- right --></span>
		</button>
	</div>
	<div class="label" onclick="Todoyu.Ext.timetracking.Headlet.Timetracking.goToTask({$idProject}, {$idTask});">{$label}</div>
	<div class="time">
		<span id="{$id}-time-tracked">{HourMinSec $tracked}</span> +
		<span id="{$id}-time-tracking">{HourMinSec $tracking}</span>
		<span id="{$id}-time-percent">{if $showPercent}(<span id="{$id}-time-percent-value">{$percent}</span>%){/if}</span>
	</div>

{/block}