{extends "core/view/headlet.tmpl"}

{block "headlet"}

	<div class="label" title="{htmlencode $label}" onclick="Todoyu.Ext.timetracking.Headlet.Timetracking.goToTask({$idProject}, {$idTask})">
		{$taskNumber} {htmlspecialchars truncate($label 38 break=true)}
	</div>

	<div class="time">
		<span id="{$id}-time-tracked">{HourMinSec $tracked}</span> +
		<span id="{$id}-time-tracking">{HourMinSec $tracking}</span>
		<span id="{$id}-time-percent">{if $showPercent}(<span id="{$id}-time-percent-value">{$percent}</span>%){/if}</span>
	</div>

	<div class="button" title="{Label timetracking.stop}">
		{Button label="core.stop" class="stopTracking" onclick="Todoyu.Ext.timetracking.Headlet.Timetracking.stopTask($idTask)"}
	</div>

{/block}