<ul>
	<li class="first"><strong>AKTUELLER TASK</strong></li>
	<li class="tasktitle">
		<a href="javascript:void(0)" onclick="Todoyu.goTo('project', 'view', { 'project':{$task.id_project},'task':{$task.id}}, 'task_{$task.id}')">
			({$task.id_project}.{$task.id}) {$task.title}
		</a>
	</li>
	<li>
		<span>{HourMinSec $totalTime} +</span>
		<span id="timetracking-panel-clock">{HourMinSec $trackedTime} ({$percent}%)</span>
	</li>
	<li>
		<input type="button" name="timetrack_stop" onClick="Todoyu.Ext.timetracking.stop({$task.id}, 'panel')" class="button stopButton" value="Stop"/>
	</li>
</ul>
<script>
//Todoyu.Ext.timetracking.setTask({$task.id});
//Todoyu.Ext.timetracking.setEstimatedTime({$task.estimated_workload});
//Todoyu.Ext.timetracking.panel.registerClockCallback();
</script>