<div class="tabBlock timetrackingButtons">
{if $trackable}
	{Button label=$buttonLabel id="task-$idTask-timetracking-button" class=$class onclick="Todoyu.Ext.timetracking.Task.$function($idTask)"}
{/if}
	<div class="elapsedTime">
		{Label timetracking.tasktab.time_elapsed}
		<span id="task-{$idTask}-timetrack-trackedtime">{HourMinSec $totalTrackedTime}</span>
		<span class="timeCurrentSession">
		| +
		<span id="task-{$idTask}-timetrack-currentsession">{HourMinSec $trackedTime}</span>
		</span>
	</div>
</div>