<div id="task-{$idTask}-timetrack-control" class="timetrackform tabBlock overflow">{$control}</div>
<div id="task-{$idTask}-timetracks" class="timetracks">{$list}</div>
<div class="clear"><!-- --></div>
<div id="task-{$idTask}-timetrackedit" class="tbBlock" style="display:none">{$editform}</div>