<li id="task-{$track.id_task}-track-{$track.id}" class="listItem {$class} {if isUserID($track.id_user_create)}contextmenuTrack{/if}">
	{if allowed('timetracking','task:editOwn') || allowed('timetracking','task:editAll')}
		<a class="editableItem hasIcon iconEdit overflow" href="javascript:void(0)" onclick="Todoyu.Ext.timetracking.Task.editTrack({$track.id_task}, {$track.id})">
	{/if}
		<span class="dateWithTime">
			{date_format $track.date_track "%d.%m.%y"}  - {HourMinSec $track.workload_tracked}
		</span>
		<span class="userName">{userLabel idPrefix="track_userowner" idRecord="$track.id" idUser="$track.id_user_create"}</span>
	{if $track.comment}
		<span class="taskComment timteTrackComment">{htmlencode $track.comment}</span>
	{/if}
	{if allowed('timetracking','task:editOwn') || allowed('timetracking','task:editAll')}
		</a>
	{/if}
</li>