{if sizeof($tracks) > 0}
	<ul class="ulList tracksList ulListDotted withMouseHover overflow">
	{$class='even'}
	{foreach $tracks track}
		{if $class=='odd'}
			{$class='even'}
		{else}
			{$class='odd'}
		{/if}
		{include ext/timetracking/view/tasktab-track.tmpl}
	{/foreach}
	</ul>
{else}
	<span class="notracksyet">{Label timetracking.noTracksYet}</span>
{/if}