{if sizeof($tracks) > 0}
	<ul class="ulList tracksList overflow">
	{foreach $tracks track}
		{include ext/timetracking/view/tasktab-track.tmpl}
	{/foreach}
	</ul>
{else}
	<span class="notracksyet">{Label timetracking.noTracksYet}</span>
{/if}